$basecolor: #7E42BE;
$shadecolor: #10041C;
$lightcolor: #D9C2F2;
$whitecolor: #F3F4F2;
$backgroundcolor: #E8E1F0;

$accentbasecolor: #E69B5A;
$accentlightcolor: #F2A35F;

@mixin heading1 {
    h1 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-88)/114.4px var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal bold 50px Poppins;
        letter-spacing: 0px;
        color: #E8E1F0;
        opacity: 1;
        margin: 0;
    }
}

@mixin heading2 {
    h2 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-88)/105.6px var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal bold 70px Poppins;
        letter-spacing: 0px;
        color: #10041C;
        opacity: 1;
    }
}

@mixin heading3 {
    h3 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 28px/57.2px var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: center;
        font: normal normal normal 20px Poppins;
        letter-spacing: 0px;
        color: #E8E1F0;
        opacity: 1;
        margin: 0;
    }
}

@mixin heading4 {
    h4 {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal normal 18px/27px Poppins;
        letter-spacing: 0px;
        color: #10041C;
        opacity: 1;
        margin: 0;
    }
}

@mixin paragraph1 {
    p {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-poppins);
        letter-spacing: var(--unnamed-character-spacing-0);
        text-align: left;
        font: normal normal normal 18px/27px Poppins;
        letter-spacing: 0px;
        color: #10041C;
        opacity: 1;
    }
}