$basecolor: #7E42BE;
$shadecolor: #10041C;
$lightcolor: #D9C2F2;
$whitecolor: #F3F4F2;
$backgroundcolor: #E8E1F0;

$accentbasecolor: #E69B5A;
$accentlightcolor: #F2A35F;
$accentdarkcolor: #C7804E;

@mixin light-heading1 {
    h1 {
        text-align: center;
        font: normal normal bold 4rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
        margin: 0;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }
     }
}

@mixin dark-heading1 {
    h1 {
        text-align: center;
        font: normal normal bold 4rem Poppins;
        letter-spacing: 0px;
        color: $shadecolor;
        opacity: 1;
        margin: 0;
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 2rem;
        }
     }
}

@mixin dark-heading2 {
    h2 {
        text-align: left;
        font: normal normal bold 4rem Poppins;
        letter-spacing: 0px;
        color: $shadecolor;
        opacity: 1;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }
     }
}

@mixin light-heading2 {
    h2 {
        text-align: left;
        font: normal normal bold 4rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }
     }
}

@mixin light-sub_event_heading2 {
    h2 {
        text-align: left;
        font: normal normal bold 2.5rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }
     }
}

@mixin heading3 {
    h3 {
        text-align: center;
        font: normal normal normal 1.25rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
        margin: 0;
    }
}

@mixin dark-heading4 {
    h4 {
        text-align: left;
        font: normal normal normal 1rem/1.5rem Poppins;
        letter-spacing: 0px;
        color: $shadecolor;
        opacity: 1;
        margin-bottom: 0;
    }
}

@mixin light-heading4 {
    h4 {
        text-align: left;
        font: normal normal normal 1rem/1.5rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
        margin: 0;
    }
}

@mixin dark-heading5 {
    h5 {
        text-align: left;
        font: normal normal bold 1rem/1.5rem Poppins;
        letter-spacing: 0px;
        color: $shadecolor;
        opacity: 1;
    }
}

@mixin light-heading5 {
    h5 {
        text-align: left;
        font: normal normal bold 1rem/1.5rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
    }
}

@mixin heading6 {
    h6 {
        text-align: center;
        font: normal normal normal 1.5rem Poppins;
        letter-spacing: 0px;
        color: $whitecolor;
        opacity: 1;
        margin: 0;
    }
}

@mixin dark-paragraph1 {
    p {
        text-align: left;
        font: normal normal normal 1rem Poppins;
        letter-spacing: 0px;
        color: $shadecolor;
        opacity: 1;
        margin: 0;
    }
}

@mixin light-paragraph1 {
    p {
        text-align: left;
        font: normal normal normal 1rem Poppins;
        letter-spacing: 0px;
        color: $backgroundcolor;
        opacity: 1;
        margin: 0;
    }
}

@mixin date {
    .date {
        text-align: left;
        font: normal normal bold 2.5rem/1.5rem Poppins;
        letter-spacing: 0px;
        color: $lightcolor;
        opacity: 1;
    }

    @media (max-width: 768px) {
        .date {
            font-size: 1.5rem;
        }
     }
}

